.showTag {
	position: relative;
	width: calc(100% - 70px);
	height: 30px;
	padding-left: 70px;
}
.showTag::before {
	content: "\f02b";
	position: absolute;
	font-family: FontAwesome;
	left: 10px;
	width: 15px;
	height: 15px;
	padding: 5px;
}
.showTag::after {
	content: "tag:";
	position: absolute;
	left: 35px;
	font-size: 15px;
}
.showTag * {
	margin: 0 3px;
	padding: 5px;
	background-color: #ddd;
	border-radius: 5px;
	font-size: 15px;
}
.showTag *::before {
	content: "\23";
	font-family: FontAwesome;
	padding-right: 5px;
}
